* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(220, 220, 220);
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 390px;
  border: 1px solid;
  border-radius: 15px;
  background-color: rgb(189, 189, 189);
}

#main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  grid-column: span 4;
  border: 1px solid;
  font-size: 1rem;
  background-color: rgb(245, 245, 245);
}

#main-container > button {
  border: 1px solid;
  font-size: 1rem;
  background-color: rgb(245, 245, 245);
}

.span-two-row {
  grid-row: span 2;
}

.span-two-column {
  grid-column: span 2;
}

#main-container .color-blue {
  background-color: rgb(83, 162, 252);
}

#main-container .color-orange {
  background-color: rgb(252, 187, 83);
}